body {font-family: 'Open Sans', sans-serif;
    background-color: #73b7e1;
    color: $colorWhite;
    margin: 0 auto;
  }

  nav {
    text-align: center;
    margin-top: 5*$sizeOne;
    background-color: rgba(256,256,256,0.5);
    height: 3.125*$sizeOne;
    padding: $sizeZero 8*$sizeTwo ;
    li {
      display: inline-block;
      padding:$sizeTwo 6*$sizeTwo ;
      font-weight: 400;
      font-size: $sizeOne ;
      margin: 2*$sizeTwo ;
    }
  }